body {
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
}

.container {
    position: absolute;
    top: 30%;
        left: 35%;
}

.input-card {
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: rgba(113, 249, 113, 0.941);
}

.player-input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;

}

.player-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start-game {
    background-color: rgb(138, 211, 245);
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.player-sccore {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    font-size: 50px;
}

.game-card {
    border: 5px solid rgba(113, 249, 113, 0.941);
    background-color: rgba(113, 249, 113, 0.941);
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.btn {
    width: 150px;
    height: 150px;
    border: none;
    border: 1px solid black;
        font-size: 20px;
}